<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
        href="{{ url_for('static', filename='bootstrap-dashboard/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-dashboard.css') }}">
    <!-- Boxicons CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">
    <!-- SweetAlert 2 JS -->
    <script src="{{ url_for('static', filename='sweetalert/sweetalert2.min.js') }}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <!--offcanvas triger-->
            <button class="navbar-toggler me-2" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <span class="navbar-toggler-icon" data-bs-target="#offcanvasExample"></span>
            </button>
            <!--offcanvas triger-->
            <a class="navbar-brand fw-bold me-auto" href="">SPK MOORA</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <form class="d-flex ms-auto">
                    <div class="input-group my-3 my-lg-0">
                        <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                            aria-describedby="button-addon2">
                        <button class="btn btn-primary" type="button" id="button-addon2"><i
                                class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </form>
                <ul class="navbar-nav mb-2 mb-lg-0">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-circle-user"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/profil">Profil</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="">Ubah Password</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--navbar-->

    <!--offcanvas-->
    <div class="offcanvas offcanvas-start sidebar-nav bg-dark text-white" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel">

        <div class="offcanvas-body p-0">
            <nav class="navbar-dark">
                <ul class="navbar-nav">
                    <li>
                        <div class="text-muted small fw-bold text-uppercase px-3">
                            MENU
                        </div>
                    </li>
                    <li class="my-2">
                        <a href="{% if 'role' in session and session['role'] == 'admin' %}/halaman_admin{% else %}/halaman_pengguna{% endif %}"
                            class="nav-link px-3 active">
                            <span class="me-2 ">
                                <i class="fa-solid fa-chart-line icon"></i>
                            </span>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="my-2">
                        <a href="/lihat_data_pemain" class="nav-link px-3 active">
                            <span class="me-2 ">
                                <i class="fa-solid fa-people-group"></i>
                            </span>
                            <span>Data Pemain</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class='my-2'>
                        <a href='/lihat_data_tim_seleksi' class='nav-link px-3 active'>
                            <span class='me-2'>
                                <i class="fa-solid fa-user-tie icon"></i>
                            </span>
                            <span>Data Tim Seleksi</span>
                        </a>
                    </li>
                    <li>
                        <hr class='dropdown-divider'>
                    </li>
                    <li class="my-2">
                        <a href="/lihat_data_kriteria" class="nav-link px-3 active">
                            <span class="me-2 ">
                                <i class="fa-solid fa-clipboard-list icon"></i>
                            </span>
                            <span>Kriteria Penilaian</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class='my-2'>
                        <a href='/data_nilai_pemain' class='nav-link px-3 active'>
                            <span class='me-2'>
                                <i class="fa-solid fa-file-pen icon"></i>
                            </span>
                            <span>Nilai Pemain</span>
                        </a>
                    </li>
                    <li>
                        <hr class='dropdown-divider'>
                    </li>

                    <li class='my-2'>
                        <a href='/perhitungan_divisi_akar' class='nav-link px-3 active'>
                            <span class='me-2'>
                                <i class="fa-solid fa-ranking-star icon"></i>
                            </span>
                            <span>Hasil MOORA</span>
                        </a>
                    </li>
                    <li>
                        <hr class='dropdown-divider'>
                    </li>

                    {% if 'user_id' in session and session['role'] == 'admin' %}
                    <li class='my-2'>
                        <a href='/data_user' class='nav-link px-3 active'>
                            <span class='me-2'>
                                <i class="fa-solid fa-user-plus icon"></i>
                            </span>
                            <span>Data User</span>
                        </a>
                    </li>
                    <li>
                        <hr class='dropdown-divider'>
                    </li>
                    {% endif %}

                    {% if 'user_id' in session and session['role'] == 'admin' %}
                    <li class='my-2'>
                        <a href='/tambah_user' class='nav-link px-3 active'>
                            <span class='me-2'>
                                <i class="fa-solid fa-user-plus icon"></i>
                            </span>
                            <span>Tambah User</span>
                        </a>
                    </li>
                    <li>
                        <hr class='dropdown-divider'>
                    </li>
                    {% endif %}


                    <li class='my-2'>
                        <a href='/logout' class='nav-link px-3 active'>
                            <span class='me-2'>
                                <i class="fa-solid fa-right-from-bracket icon"></i>
                            </span>
                            <span>Logout</span>
                        </a>
                    </li>
                    <li>
                        <hr class='dropdown-divider'>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
    <!--offcanvas-->

    <!--Main-->
    {% block content %}{% endblock %}
    <!--Main-->



    <!-- js -->
    <script src="{{ url_for('static', filename='bootstrap-dashboard/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- js -->

    {% block js %} {% endblock %}

</body>

</html>