{% extends "base.html" %}

{% block title %}
Profile
{% endblock %}

{% block content %}
<!--Main-->
<main class="mt-5 pt-3">
    <div class="col-md-12 p-4 pt-2">



        <div class="row">
            <h2>Ubah Password</h2>
            <hr>
            {% if error %}
            <p style="color: red;">{{ error }}</p>
            {% endif %}
            <form method="post">
                <label for="current_password">Current Password:</label>
                <input type="password" id="current_password" name="current_password"><br>
                <label for="new_password">New Password:</label>
                <input type="password" id="new_password" name="new_password"><br>
                <label for="confirm_password">Confirm New Password:</label>
                <input type="password" id="confirm_password" name="confirm_password"><br>
                <input type="submit" value="Change Password">
            </form>
        </div>
    </div>
</main>
<!--Main-->
{% endblock %}