{% extends "base.html" %}

{% block title %}
Profile
{% endblock %}

{% block content %}
<!--Main-->
<main class="mt-5 pt-3">
    <div class="col-md-12 p-4 pt-2">



        <div class="row">
            <div class="col-lg-8">
                <div class="shadow border rounded p-5 mb-5">
                    <h2>Ubah Password</h2>
                    <hr>
                    {% if success %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ success }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    {% if error %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    <form method="post">
                        <label for="current_password">Password saat ini</label>
                        <input type="password" class="form-control" id="current_password" name="current_password"
                            placeholder="Password saat ini" required><br>
                        <label for="new_password">Password baru</label>
                        <input type="password" class="form-control" id="new_password" name="new_password"
                            placeholder="Password baru" required><br>
                        <label for="confirm_password">Konfirmasi Password baru</label>
                        <input type="password" class="form-control" id="confirm_password" name="confirm_password"
                            placeholder="Konfirmasi Password baru" required><br>
                        <button class="btn btn-success" type="submit" value="Change Password">Ubah Password</button>
                    </form>
                </div>
            </div>
        </div>
</main>
<!--Main-->
{% endblock %}