{% extends "base.html" %}

{% block title %}
Nilai Pemain
{% endblock %}

{% block content %}
<!--Main-->
<main class="mt-5 pt-3">
    <div class="col-md-12 p-4 pt-2">

        <h3> <i class="fa-solid fa-file-pen icon"></i> Nilai Pemain</h3>
        <hr>

        <div class="row">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ messages[0] }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {% endwith %}
            {% if 'user_id' in session and session['role'] == 'admin' %}
            <div class="col-sm-2">
                <a class="btn btn-success" href="/penilaian_pemain" role="button"><i class="fa-solid fa-square-plus"> </i> Tambah</a>
            </div><br><br>
            {% endif %}
            <form method="post">
                <label for="posisi_pemain">Pilih Posisi Pemain:</label>
                <select id="posisi_pemain" name="posisi_pemain">
                    <option value="">-- Pilih Posisi Pemain --</option>
                    {% for posisi in positions %}
                    <option value="{{ posisi }}" {% if posisi==posisi_pemain %}selected{% endif %}>{{ posisi }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Tampilkan">
            </form>
            <br><br>
            {% if table_data %}
            <table class="table table-sm table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>No</th>
                        <th>Nama Pemain</th>
                        {% for kriteria_id, kriteria_name in kriteria_list.items() %}
                        <th>{{ kriteria_name }}</th>
                        {% endfor %}
                        {% if 'user_id' in session and session['role'] == 'admin' %}
                        <th>Aksi</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for nisn, data in table_data.items() %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ data['nama_pemain'] }}</td>
                        {% for kriteria_id, kriteria_name in kriteria_list.items() %}
                        <td>{{ data.get(kriteria_id, '') }}</td>
                        {% endfor %}
                        {% if 'user_id' in session and session['role'] == 'admin' %}
                        <td>
                        <!-- Button for editing -->
                        <a class="btn btn-primary btn-sm" href="/edit_nilai_pemain/{{ nisn }}">
                            <i class="fa-solid fa-edit"></i>
                        </a>
                        <!-- Button for deleting -->
                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                        data-bs-target="#hapusModal{{ nisn }}">
                        <i class="fa-solid fa-trash-can"></i>
                        </button>
                        <!-- Modal for deleting -->
                        <div class="modal fade" id="hapusModal{{ nisn }}" tabindex="-1" aria-labelledby="hapusModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="hapusModalLabel">Konfirmasi Hapus</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Yakin ingin menghapus nilai untuk {{ data['nama_pemain'] }}?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                                    <a href="/hapus_nilai/{{ nisn }}" class="btn btn-danger">Hapus</a>
                                </div>
                            </div>
                        </div>
                        </div>

                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</main>
<!--Main-->
{% endblock %}
