<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')  }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css')  }}">
    <title>Lengkapi Data Admin</title>
</head>
<body>
    
    <div class="global-container">
        <div class="card login-form">
            <div class="card-text">
                <h2 class="card-title text-center">Lengkapi Data Admin</h2>
                <hr>
                <form method="POST" action="/lengkapi_data_admin">
                    <div class="mb-3">
                      <label for="nama-admin" class="form-label">Nama Admin</label>
                      <input type="text" name="nama_admin" class="form-control" id="nama_admin" aria-describedby="nama_admin" placeholder="Nama Lengkap" required>
                    </div>
                    <div class="mb-3">
                        <label for="tgl_lahir" class="form-label">Tanggal Lahir</label>
                        <input type="date" name="tgl_lahir_admin" class="form-control" id="tgl_lahir_admin" aria-describedby="tgl_lahir_admin" required>
                    </div>
                    <div class="mb-3">
                        <label for="Jabatan" class="form-label">Jabatan</label>
                        <select name="jabatan" id="jabatan" required>
                            <option value="" disabled selected>--Pilih Jabatan--</option>
                            <option value="Head Coach">Head Coach</option>
                            <option value="Asst. Coach">Asisten Coach</option>
                            <option value="Scout Staff">Scout Staff</option>
                        </select>
                    </div>
                    <button type="submit" value="Simpan" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js')  }}"></script>
</body>
</html>