{% extends "base.html" %}

{% block title %}
Data Pemain
{% endblock %}

{% block content %}
<!--Main-->
<main class="mt-5 pt-3">
    <div class="col-md-12 p-4 pt-2">

        <h3><i class="fa-solid fa-people-group"></i> DATA PEMAIN</h3>
        <hr>

        <div class="row">
            <form method="POST" action="/lihat_data_pemain">
                <label for="posisi">Pilih Posisi:</label>
                <select name="posisi" id="posisi">
                    <option value="semua">Semua Pemain</option>
                    <option value="GK">Penjaga Gawang (GK)</option>
                    <option value="DF">Bek (DF)</option>
                    <option value="MF">Gelandang (MF)</option>
                    <option value="FW">Penyerang (FW)</option>
                </select>
                <button type="submit" class="btn btn-secondary btn-sm">Tampilkan</button>
            </form>
            <br><br>


            <table class="table table-sm table-striped table-hover">
                <tr class="table-dark">
                    <th>No.</th>
                    <th>NISN</th>
                    <th>Nama Pemain</th>
                    <th>Posisi</th>
                    <th>Tanggal Lahir</th>
                    <th>Asal Sekolah</th>
                    {% if 'user_id' in session and session['role'] == 'admin' %}
                    <th>Aksi</th>
                    {% endif %}
                </tr>
                {% if data_pemain %}
                {% for pemain in data_pemain %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ pemain[0] }}</td>
                    <td>{{ pemain[1] }}</td>
                    <td>{{ pemain[2] }}</td>
                    <td>{{ pemain[3] }}</td>
                    <td>{{ pemain[4] }}</td>
                    {% if 'user_id' in session and session['role'] == 'admin' %}
                    <td><!-- Button trigger modal -->
                        
                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Button trigger modal -->
                        
                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </div>
</main>
<!--Main-->
{% endblock %}