{% extends "base.html" %}

{% block title %}
Data Pemain
{% endblock %}

{% block content %}
<!--Main-->
<main class="mt-5 pt-3">
    <div class="col-md-12 p-4 pt-2">

        <h3><i class="fa-solid fa-people-group"></i> DATA PEMAIN</h3>
        <hr>

        <div class="row">
            <div class="card bg-white p-3 m-1 shadow">
            <form method="POST" action="/lihat_data_pemain">
                <div class="container">
                    <div class="row">

                        <div class="col-md-6">
                            <label for="posisi">Pilih Posisi:</label>
                            <select name="posisi" id="posisi">
                                <option value="semua" {% if posisi == 'semua' %}selected{% endif %}>Semua Pemain
                                </option>
                                <option value="GK" {% if posisi == 'GK' %}selected{% endif %}>Penjaga Gawang (GK)
                                </option>
                                <option value="DF" {% if posisi == 'DF' %}selected{% endif %}>Bek (DF)</option>
                                <option value="MF" {% if posisi == 'MF' %}selected{% endif %}>Gelandang (MF)</option>
                                <option value="FW" {% if posisi == 'FW' %}selected{% endif %}>Penyerang (FW)</option>
                            </select>
                            <button type="submit" class="btn btn-primary btn-sm">Tampilkan</button>
                        </div>
                        {% if 'user_id' in session and session['role'] == 'admin' or session['role'] == 'superadmin' %}
                        <div class="col-md-6 d-flex justify-content-end">
                            <a href="/generate_pdf_data_peserta" class="btn btn-primary"><i
                                    class="fa-solid fa-print"></i> Cetak
                                PDF</a>
                        </div>
                        {%endif%}
                        <div class="col-md-6 d-flex justify-content-start">
                            <label for="cari">Cari : </label>
                            <input type="text" name="search" id="search" value="{{ search }}"
                                placeholder="Cari NISN/Nama...." style="text-transform: uppercase;"
                                oninput="this.value = this.value.toUpperCase();">
                            <button type="submit">Cari</button>
                        </div>


                    </div>
                </div>
            </form>
        </div>
           

                <div class="card bg-white p-2 m-1 shadow">
                <table class="table table-sm table-striped table-hover">
                    <tr class="table-dark">
                        <th>No.</th>
                        <th>NISN</th>
                        <th>Nama Pemain</th>
                        <th>Posisi</th>
                        <th>Tanggal Lahir</th>
                        <th>Asal Sekolah</th>
                        {% if 'user_id' in session and session['role'] == 'admin' or session['role'] == 'superadmin' %}
                        <th>Aksi</th>
                        {% endif %}
                    </tr>
                    {% if data_pemain %}
                    {% for pemain in data_pemain %}
                    <tr>
                        <td>{{ (current_page - 1) * per_page + loop.index }}</td>
                        <td>{{ pemain[0] }}</td>
                        <td>{{ pemain[1] }}</td>
                        <td>{{ pemain[2] }}</td>
                        <td>{{ pemain[3] }}</td>
                        <td>{{ pemain[4] }}</td>
                        {% if 'user_id' in session and session['role'] == 'admin' or session['role'] == 'superadmin' %}
                        <td>
                            <!-- Button trigger modal -->

                            <!-- Button trigger modal -->
                            <a href="/edit_data_pemain/{{ pemain[0] }}" class="btn btn-primary btn-sm">
                                <i class="fa-solid fa-pen-to-square"></i>Edit
                            </a>

                            <!-- Button trigger modal -->

                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                data-bs-target="#hapusModal{{ pemain[0] }}">
                                <i class="fa-solid fa-trash-can"></i>Hapus
                            </button>

                            <!-- Modal Konfirmasi Hapus -->
                            <div class="modal fade" id="hapusModal{{ pemain[0] }}" tabindex="-1"
                                aria-labelledby="hapusModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="hapusModalLabel">Konfirmasi Hapus</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Apakah Anda yakin ingin menghapus data pemain ini?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Batal</button>
                                            <form method="POST" action="/hapus_data_pemain/{{ pemain[0] }}">
                                                <button type="submit" class="btn btn-danger">Hapus</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if current_page > 1 %}
                        <li class="page-item">
                            <a class="page-link"
                                href="?page={{ current_page - 1 }}&posisi={{ posisi }}&search={{ search }}">Previous</a>
                        </li>
                        {% endif %}

                        {% for page_num in range(1, total_pages + 1) %}
                        <li class="page-item {% if page_num == current_page %}active{% endif %}">
                            <a class="page-link"
                                href="?page={{ page_num }}&posisi={{ posisi }}&search={{ search }}">{{ page_num }}</a>
                        </li>
                        {% endfor %}

                        {% if current_page < total_pages %}
                        <li class="page-item">
                            <a class="page-link"
                                href="?page={{ current_page + 1 }}&posisi={{ posisi }}&search={{ search }}">Next</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
                {% endif %}
        </div>
</main>
<!--Main-->
{% endblock %}