{% extends "base.html" %}

{% block title %}
Data Pengguna
{% endblock %}

{% block content %}
<!--Main-->
<main class="mt-5 pt-3">
    <div class="col-md-12 p-4 pt-2">

        <h3><i class="fas fa-user-circle"></i>DATA USER</h3>
        <hr>

        <div class="row">
            <form method="POST" action="/lihat_data_user">
                <label for="role">Semua Role</label>
                <select name="role" id="role">
                    <option value="semua" {% if role == 'semua' %}selected{% endif %}>Semua Role</option>
                    <option value="superadmin" {% if role == 'superadmin' %}selected{% endif %}>Superadmin</option>
                    <option value="admin" {% if role == 'admin' %}selected{% endif %}>Admin</option>
                    <option value="user" {% if role == 'user' %}selected{% endif %}>User</option>
                </select>
                <button type="submit" class="btn btn-secondary btn-sm">Tampilkan</button>
            </form>
            <br><br>
            <div class="card bg-white p-3 mt-2 shadow">
            <table class="table table-sm table-striped table-hover">
                <tr class="table-dark">
                    <th>No.</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Created At</th>
                    {% if 'user_id' in session and session['role'] == 'superadmin' %}
                    <th>Aksi</th>
                    {% endif %}
                </tr>
                {% if data_users %}
                {% for user in data_users %}
                <tr>
                    <td>{{ (current_page - 1) * per_page + loop.index }}</td>
                    <td>{{ user[1] }}</td>
                    <td>{{ user[2] }}</td>
                    <td>{{ user[3] }}</td>
                    {% if 'user_id' in session and session['role'] == 'superadmin' %}
                    <td>

                        <!-- Button trigger modal -->
                        {% if check_admin_for_user(user[0]) or check_pemain_for_user(user[0]) %}
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger btn-sm" disabled>
                            <i class="fa-solid fa-trash-can"></i>Hapus
                        </button>
                        {% else %}
                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                            data-bs-target="#hapusModal{{ user[0] }}">
                            <i class="fa-solid fa-trash-can"></i>Hapus
                        </button>

                        {% endif %}

                        <!-- Modal Konfirmasi Hapus -->
                        <div class="modal fade" id="hapusModal{{ user[0] }}" tabindex="-1"
                            aria-labelledby="hapusModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="hapusModalLabel">Konfirmasi Hapus</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Apakah Anda yakin ingin menghapus data {{user[1]}}?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Batal</button>
                                        <form method="POST" action="/hapus_data_user/{{ user[0] }}">
                                            <button type="submit" class="btn btn-danger">Hapus</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if current_page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ current_page - 1 }}&role={{ role }}">Previous</a>
                    </li>
                    {% endif %}

                    {% for page_num in range(1, total_pages + 1) %}
                    <li class="page-item {% if page_num == current_page %}active{% endif %}">
                        <a class="page-link" href="?page={{ page_num }}&role={{ role }}">{{ page_num }}</a>
                    </li>
                    {% endfor %}

                    {% if current_page < total_pages %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ current_page + 1 }}&role={{ role }}">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>
</main>
<!--Main-->
{% endblock %}