{% extends "base.html" %}

{% block title %}
    Penilaian Pemain
{% endblock %}

{% block content %}
    <!--Main-->  
    <main class="mt-5 pt-3">
          <div class="col-md-12 p-4 pt-2">
            
          <h3><i class='bx bxs-dashboard icon'></i> Penilaian Pemain</h3><hr>
                        
              <div class="row">
                 {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ messages[0] }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {% endwith %}
                <form method="POST" action="/penilaian_pemain">
                    <!-- Dropdown untuk memilih posisi pemain -->
                    <label for="posisi_pemain">Posisi Pemain:</label>
                    <select name="posisi_pemain" id="posisi_pemain" required>
                        <option value="">Pilih Posisi</option>
                        {% for posisi in data_posisi %}
                        <option value="{{ posisi[0] }}">{{ posisi[0] }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" name="pilih_posisi" value="true">Pilih</button>
                </form>
            
                {% if data_pemain %}
                <table class="table table-sm table-striped table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>No</th>
                            <th>NISN</th>
                            <th>Nama Pemain</th>
                            <th>Posisi</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pemain in data_pemain %}
<tr>
    <td>{{ loop.index }}</td>
    <td>{{ pemain[0] }}</td>
    <td>{{ pemain[1] }}</td>
    <td>{{ pemain[2] }}</td>
    <td>
        {% if pemain[0] in data_nilai_pemain %}
        Sudah Dinilai
    {% else %}
        <!-- Tombol "Nilai" yang mengarahkan ke halaman input_nilai_pemain.html -->
        <a class="btn btn-sm btn-primary" href="/input_nilai_pemain/{{ pemain[0] }}" role="button">Nilai</a>
    {% endif %}
       
    </td>
</tr>
{% endfor %}
                    </tbody>
                </table>
                <br>
                {% endif %}
             </div>
          </div>
    </main>
    <!--Main-->
{% endblock %}
