<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/penilaian_pemain">
        <label for="posisi_pemain">Posisi Pemain:</label>
        <select name="posisi_pemain" id="posisi_pemain" required>
          <option value="">Pilih Posisi</option>
          {% for posisi in data_posisi %}
            <option value="{{ posisi[0] }}">{{ posisi[0] }}</option>
          {% endfor %}
        </select>
        <br><br>
        
        <button type="submit" name="pilih_posisi" value="true">Pilih</button>
        
        {% if data_pemain %}
          <table>
            <thead>
              <tr>
                <th>NISN</th>
                <th>Nama Pemain</th>
                <th>Posisi</th>
                <th>Nilai</th>
              </tr>
            </thead>
            <tbody>
              {% for pemain in data_pemain %}
                <tr>
                  <td>{{ pemain[0] }}</td>
                  <td>{{ pemain[1] }}</td>
                  <td>{{ pemain[2] }}</td>
                  <td>
                    <a href="/input_nilai/{{ pemain[0] }}">Nilai</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <br>
          
        {% endif %}
      </form>      
</body>
</html>