{% extends "base.html" %}

{% block title %}
    Hasil MOORA
{% endblock %}

{% block content %}
    <!--Main-->  
    <main class="mt-5 pt-3">
          <div class="col-md-12 p-4 pt-2">
            
          <h3><i class="fa-solid fa-ranking-star icon"></i> Hasil MOORA</h3><hr>
                        
              <div class="row">
                <form method="POST">
                    <label for="posisi_pemain">Pilih Posisi Pemain:</label>
                    <select name="posisi_pemain" id="posisi_pemain">
                        <option value="" disabled selected>--Pilih Posisi--</option>
                        {% for posisi in positions %}
                            
                            <option value="{{ posisi }}">{{ posisi }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Submit">
                </form>
                <br><br>
                {% if table_data %}
                <table class="table table-sm table-striped table-hover">
                        <thead class="table-dark">
                            <tr>
                               
                                <th>Peringkat</th>
                                <th>Nama</th>
                                <th>Nilai Moora</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in table_data %}
                                <tr>
                                   
                                    <td>{{ loop.index }}</td>
                                    <td>{{ row['nama_pemain'] }}</td>
                                    <td>{{ row['Nilai Moora'] |round(7) }}</td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p></p>
                {% endif %}
             </div>
          </div>
    </main>
    <!--Main-->
{% endblock %}



