<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daftar</title>
  <!-- SweetAlert 2 CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='sweetalert/sweetalert2.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="container">
    <div class="register">
      <form method="POST" action="/register" id="registerForm"> <!-- Add id="registerForm" to the form -->
        <h1>Daftar</h1>
        <hr>
        {% if error_message %}
        <div class="notification-red">
          {{error_message}}
        </div>
        {% endif %}
  
        <label for="">Username</label>
        <input type="text" id="username" name="username" placeholder="Username" required>
        <label for="">Password</label>
        <input type="password" id="password" name="password" placeholder="Password" required> <!-- Use lowercase "password" for the input type -->
        <label for="">Role</label>
        <select name="role" id="role" required>
            <option value="admin">Admin</option>
            <option value="user">User</option>
        </select>
        
        <button type="submit" value="Register">Daftar</button>
        <p>
          <a href="/login">Login</a>
        </p>
      </form>
    </div>

    <div class="right">
      <img src="{{ url_for('static', filename='img/login.jpg')}}" alt="login">
    </div>
  </div>

  <!-- SweetAlert 2 JS -->
  <script src="{{ url_for('static', filename='sweetalert/sweetalert2.min.js') }}"></script>

  <!-- JavaScript code to show SweetAlert 2 notification -->
  
</body>
</html>
